/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #239db5;
  --button-color: #23464f;
  --button-color-2: #af48ea;
  --hover-color: #389aae;
  --hover-color-2: #68109b;

  --text-color: #605f5f;

  --background-color: #FFB347;
  --background-color-2: #e8d5f3;

  --main-font: "DM Sans", sans-serif;
  --hader-font: "Playfair Display", serif;
}

/* ============================================
   Overall Styling
============================================ */
* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
}
/* ============================================
   Navbar Styling
============================================ */
.title {
  font-size: 50px;
  font-weight: 700;
  background: linear-gradient(to right, var(--button-color), var(--secondary-color)); 
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  color: transparent;
  font-family: var(--hader-font);
}

/* Menu Button */
.menu {
  display: none;
  font-size: 35px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--button-color);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: #BBDEF0;
}

/* Navbar Container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

/* Navbar List */
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  list-style: none;
}

.navbar ul li {
  list-style: none;
  position: relative;
}

.navbar ul li a , .navbar ul span{
  text-decoration: none;
  transition: background 0.4s ease, color 0.4s ease;
  color: var(--button-color);
}

.navbar ul li a:hover {
  background-color: var(--button-color);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: var(--primary-color);
}

.active-link {
  background-color: var(--button-color);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: white !important;
  text-decoration: none;
}

.navbar ul li a:active,
.navbar ul li a:focus {
  color: white;
  outline: none;
}

/* Dropdown Menu Styles */
.navbar ul li.has-dropdown .dropdown-menu {
  display: none; /* Hide dropdown initially */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f5f5f7;
  border-radius: 5px;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 0;
}

/* Show Dropdown on Hover */
.navbar ul li.has-dropdown:hover .dropdown-menu {
  display: block;
}

/* Dropdown Link Styles */
.dropdown-menu li {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background 0.3s;
}

/* Login Button */
.login-btn {
  text-decoration: none;
  color: var(--button-color);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--button-color);
  margin-left: 30px;
}

.login-btn:hover {
  background-color: var(--button-color);
  color: var(--primary-color);
}


.active-link-login {
  background-color: var(--button-color);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: var(--primary-color);
  text-decoration: none;
  margin-left: 30px;
}

/* ============================================
   Login & Register Page Styling
============================================ */
.login-container, .register-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    max-width: 400px;
    width: 100%;
}

.login-title, .register-title {
    text-align: center;
    font-family: var(--hader-font);
    font-weight: 500;
}

.login-form , .register-form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form label, .register-form label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.login-form input, .register-form input {
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid var(--button-color);
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
}

.login-form button , .register-form button{
    padding: 12px;
    background: var(--button-color); 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 0;
    transition: background 1s ease;
}

.login-form button:hover, .register-form button:hover {
    background: var(--hover-color); 
}

.login-form p a, .register-form p a{
  color: var(--button-color);
}
/* ============================================
   Home Page Styling
============================================ */
.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
  flex-wrap: wrap;
}

.main-img {
  max-width: 450px;
  margin-top: 20px;
}

.main-text {
  max-width: 450px;
}

.main-text h1, .section1-text h1 {
  margin-bottom: 10px;
  font-size: 60px;
  font-family: var(--hader-font);
  font-weight: 700;
}

.main-text p {
  margin-bottom: 20px;
}

.main-text a {
  color: black;
  text-decoration: none;
  background-color: var(--button-color);
  color: white;
  padding: 10px;
  border-radius: 20px;
  
}

.main-text a:hover {
  background-color: var(--hover-color);
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
  flex-wrap: wrap;
  background-color: var(--background-color-2);
  padding: 20px;
}

.section1-text {
  max-width: 450px;
}

.section1-text p {
  margin-bottom: 15px;
  color: var(--text-color);
}

.section1-img {
  max-width: 450px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.section1-btn {
  padding: 10px;
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--button-color-2);
  border-radius: 20px;
  transition: background 1s all;
  margin-bottom: 20px;
}

.section1-btn:hover {
  background-color: #68109b;
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
  flex-wrap: wrap;
}

.section2 section{
  max-width: 350px;
  padding: 20px;
  text-align: center;
}

.section2 h2 {
  font-size: 2em;
  font-weight: 700;
}

.section2 p {
  font-size: 1.2em;
  text-transform: uppercase;
  color: var(--text-color);
}

.section2-icon {
  font-size: 50px;
  background-color: var(--background-color);
  color: white;
  padding: 20px;
  border-radius: 50%;
}

.upcoming-events {
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 8px;
  color: black;
}

.upcoming-event {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.upcoming-events h2 {
  font-size: 1.8rem;
  text-align: center;
}

.event {
  margin-top: 1.5rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.event img {
  width: 400px;
}

.event:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.event h3 {
  font-size: 1.5rem;
}

.event hr {
  margin-bottom: 10px;
}

.event span {
  font-weight: 700;
}

.event a {
  color: black;
  text-decoration: none;
}

.event a:hover {
  font-weight: 900;
}

.event p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.educational-tips {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 2rem 0;
  text-align: center;
}

.educational-tips h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center;
}

.tip {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  margin: 1rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.tip h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.tip p {
  font-size: 1rem;
  color: #666;
}

.pet-care-tips {
  padding: 2rem;
  margin: 2rem 0;
}

.pet-care-tips h2 {
  text-align: center;

}

.pet-care-tip {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.care-tip:hover {
  transform: translateY(-10%);
}

.care-tip {
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 1s ease transform;
}

.care-tip h3 {
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
  font-weight: 600;
}

.care-tip ul {
  list-style-type: none;
  padding-left: 0;
}

.care-tip li {
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
  position: relative;
}

.care-tip li:before {
  content: "•";
  position: absolute;
  left: 0;
  color: #666;
}

/* ============================================
   About Us Page Styling
============================================ */
.about-container1 {
  background: url('./img/about_bg.png');
  background-size: cover;
  height: 85vh;
}

.about-container1 section {
  width: 650px;
  margin: 0 auto; 
  text-align: center; 
  height: 70vh; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.about-container1 p {
  line-height: 1.4em; 
}

.about-title {
  font-family: var(--hader-font); 
  font-weight: 700;
  color: black; 
  font-size: 60px; 
  margin: 30px 0;
}

/* Story Section */
.story-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.story-section section{
  max-width: 500px;
  padding: 8px;
  color: #075f96;
  margin: 20px;
}

.story-section section p {
  margin: 10px auto;
}

.story-section img {
  max-width: 550px;
  max-height: 500px;
}

/* Our team sytling */
.our-team {
  background-color: var(--background-color);
  margin-top: 20px;
}

.our-team div {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.our-team div h1 {
  font-family: var(--hader-font);
  font-weight: 700;
  margin-bottom: 14px;
  font-size: 40px;
}

.our-team div p {
  font-size: 1.2em;
  color: var(--text-color);
}

.our-team section {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px;
}

.our-team section .member h2 {
  font-family: var(--hader-font);
  font-weight: 700;
  margin-bottom: 8px;
}

.our-team section .member h4 {
  color: var(--text-color);
  font-weight: bold;
}

.our-team section .member img {
  width: 320px;
  border-radius: 20px;
  margin-bottom: 8px;
  margin-top: 1rem;
}

.member {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 20px;
}

.member:hover {
  transform: translateY(-5px); /* Slight lift on hover */
}


/* Partner Organizations Section */
.partners-section {
  padding: 40px;
  background-color: #f9f9f9; /* Light background to distinguish the section */
  text-align: center;
}

.partners-section h1 {
  font-size: 2em;
  color: black;
  margin-bottom: 20px;
  font-family: var(--hader-font);
  font-weight: 700;
}

.partners-section a {
  color: black;
  text-decoration: none;
}

.partners-section a:hover {
  font-weight: bold;
}

.partners-section p {
  font-size: 1.1em;
  color: #666;
  margin-bottom: 40px;
}

.partners-section section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Individual Partner Card */
.partner {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  width: 280px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.partner:hover {
  transform: translateY(-5px); /* Slight lift on hover */
}

.partner img {
  width: 140px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 15px;
}

.partner h2 {
  font-size: 1.5em;
  color: #333;
  margin: 10px 0;
}

.partner p {
  font-size: 1em;
  color: #555;
}

/* Core Values Section */
.core-values-section {
  padding: 40px;
  background-color: #f4f8fb; 
  text-align: center;
}

.core-values-section h1 {
  font-family: var(--hader-font);
  font-weight: 700;
  font-size: 2.5em;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.core-values-section section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Individual Core Value Card */
.core-values-section {
  background-color: var(--hover-color);
}

.core-value {
  border-radius: 8px;
  background-color: var(--primary-color);
  padding: 20px;
  width: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

.core-value div {
  font-size: 2em;
  color: var(--background-color);
}

.core-value:hover {
  transform: translateY(-5px); /* Slight lift on hover */
}

.core-value h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.core-value p {
  font-size: 1em;
  color: var(--text-color);
  line-height: 1.6;
}


/* ============================================
  Contact Us Styling
============================================ */
.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px;
}

.contact-info {
  padding: 18px;
}

.contact-text {
  text-align: center;
  margin: 0 auto;
  background: url('./img/about_bg.png');
  background-size: cover;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-text h1 {
  font-size: 2.4em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: var(--hader-font);
  margin-top: 13px;
  font-weight: 800;
  font-size: 45px;
}

.contact-text p {
  color: var(--text-color);
}

.contact-hours {
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-hours h3 {
  font-size: 2em;
  font-family: var(--hader-font);
  color: var(--hover-color);
  margin-bottom: 10px;
  font-weight: 700;
}

.contact-hours p {
  font-size: 1em;
  color: #555;
  margin: 5px 0;
}


.contact-detail{
  display: flex;
  align-items: center;
  padding: 12px;
  margin-top: 20px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.contact-detail:hover {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.contact-detail p {
  color: var(--text-color);
}

.contact-detail div {
  margin-left: 12px;
}

.contact-detail h3 {
  margin-bottom: 8px;
  color: var(--button-color);
  font-weight: 600;
}

.contact-details .contact-detail .icon {
  font-size: 65px;
  background-color: #0595ef;
  color: white;
  padding: 12px;
  border-radius: 50px;
}

/* Contact Form */
.contact-form {
  background: #cde5f4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 720px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 0 auto;
}


.contact-form input {
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid var(--button-color);
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
}

.contact-form input:focus, .contact-form textarea:focus {
  border: 1px solid black;
  outline: none;
}

.contact-form label {
  margin-top: 10px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #1DA1F2;
  transition: background-color 1s ease;
}

.contact-form textarea {
    width: 720px; 
    height: 150px; 
    resize: none;
    border: 1px solid var(--button-color);
    padding: 5px;
}

.contact-btn {
  margin-top: 10px;
  background-color: #1DA1F2;
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 18px;
  width: 200px;
}

.contact-btn:hover {
  background-color: #0595ef;
}

.success-msg {
  margin-top: 10px;
  font-size: 1em;
  color: #075f96;
}
/* ============================================
  AdaptionForm Styling
============================================ */
.adoption-form-container {
  padding: 18px;
}

.adoption-form-container .adoption-form-header {
  text-align: center;
  margin: 0 auto;
}

.adoption-form-title {
  font-weight: 800;
  margin: 30px 0;
}

.adoption-form {
  margin-top: 20px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color-2);
  padding: 20px;
  border-radius: 20px;
  width: 700px;
}

.adoption-form label {
  font-size: 1.2em;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.adoption-form input {
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid var(--button-color);
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
}

.basic-info1 {
  display: flex;
  flex-direction: column;
}

.basic-info-title, .address-title, .household-title {
  text-align: center;
  font-weight: 800;
  font-size: 1.5em;
  margin-top: 8px;
  margin-bottom: 10px;
}

.name .lastName{
  margin-left: 4px;
}

.address {
  display: flex;
  flex-direction: column;
}

.question {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.question div label {
  margin-left: 10px;
  color: black;
}

.question textarea {
  resize:  none;
  /* width: 400px; */
  height: 100px;
  margin-top: 8px;
  border: 1px solid var(--button-color);
  padding: 12px;
  font-size: 1.2em;
}

.question textarea:focus, .adoption-form input:focus {
  border: 1px solid black;
  outline: none;
}

.adoption-btn {
  color: white;
  background: var(--button-color-2);
  border: none;
  padding: 10px 12px;
  font-size: 1em;
  width: 200px;
  font-weight: 600;
  border-radius: 10px;
  transition: background-color 1s ease;
}

.care-requirement {
  color: #FFFFFF;
  background-color: #696e75;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.care-requirement li {
  margin: 10px;
}

.return-policy, .adoption-requirements {
  color: #2563EB;
  background-color: #EFF6FF;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.return-policy h3, .care-requirement h3, .adoption-requirements h3{
  font-weight: 800;
  margin-bottom: 10px;
}

.return-policy li, .adoption-requirements li{
  margin-bottom: 10px;
}

.adoption-btn:hover {
  background: var(--hover-color-2);
}

.dog-info {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.dog-info img {
  width: 400px;
  border-radius: 20px;
}

.dog-info h2 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 10px;
}

.dog-info p {
  color: var(--text-color);
  margin-bottom: 10px;
  text-transform: capitalize;
}

.dog-info p span {
  color: black;
  font-weight: 700;
}

.form {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* ============================================
  Donation Styling
============================================ */
.donation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #EFA2A2;
    padding: 10px;
}

.pet1 , .pet2{
  max-width: 470px;
  margin: 2px;
  border-radius: 20px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.donation-text {
  max-width: 430px;
  padding: 20px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-bottom: 10px;
}

.donation-text:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.donation h1 {
  font-family: var(--hader-font);
  font-weight: 700;
  font-size: 2.7em;
}

.donation-price-container {
  margin-top: 40px;
  margin-bottom: 20px;
}

.donation-price-container h1 {
  text-align: center;
  margin-bottom: 40px;
}

.donation-prices {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

.donation-price {
  text-align: center;
  max-width: 250px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-bottom: 20px;
}

.donation-price:hover {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.donation-price h2 {
  font-size: 3em;
  color: rgb(235, 108, 10);
  margin-bottom: 14px;
}

.donation-price p {
  margin-bottom: 15px;
  color: var(--text-color);
}

.donation-price a {
  color: rgb(235, 108, 10);
  text-decoration: none;
  padding: 8px;
  border: 2px solid rgb(235, 108, 10);
  border-radius: 20px;
}

.donation-price a:hover {
  background: rgb(247, 217, 162);
  color: var(--primary-color);
}

.donation-progress {
  margin-top: 30px;
  background-color: #e6f7e6;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.donation-progress h3 {
  font-size: 2em;
}

.progress-bar {
  background-color: #ddd;
  border-radius: 5px;
  height: 20px;
  margin: 10px 0;
}

.progress {
  background-color: var(--button-color);
  height: 100%;
  border-radius: 5px;
}

.donation-progress p {
  margin-bottom: 20px;
}

.donation2 {
  display: flex;
  flex-wrap: wrap;
}

.recurring-donation {
  margin-top: 30px;
  max-width: 450px;
  margin: 20px auto;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 20px;
}

.recurring-donation p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.recurring-donation a {
  color: var(--button-color);
  font-weight: bold;
}


.donation-testimonials {
  margin-top: 30px;
  max-width: 450px;
  margin: 20px auto;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 20px;
}

.donation-testimonials .testimonial {
  margin: 20px 0;
  font-style: italic;
}

.social-sharing {
  text-align: center;
  margin-bottom: 20px;
}

.social-sharing a {
  margin-right: 15px;
  color: #1DA1F2;
}

/* ============================================
  Dog Card Styling
============================================ */
.release-header {
  text-align: center;
  margin: 20px;
}

.release-header h1 {
  margin-bottom: 20px;
  font-family: var(--hader-font);
  font-weight: 700;
}

.requirements, .release-terms {
  background-color: #EFF6FF;
  max-width: 450px;
  color: #1e90ff;
  padding: 30px;
  margin: 20px auto;
  border-radius: 20px;
}

.requirements h3, .release-terms h3, .next-step h3 {
  margin-bottom: 10px;
  font-weight: 700;
}

.requirements li, .release-terms p {
  margin-bottom: 10px;
}

.release-pet-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 460px;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 20px;
}

.release-pet-form h3 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 12px;
}

.release-pet-form input, .release-pet-form textarea {
  padding: 13px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 1.1em;
  border: 1.2px solid #1e90ff;
}


.release-pet-form label {
  margin-bottom: 10px;
  color: var(--text-color);
  font-weight: 700;
}

.release-pet-form textarea {
  resize: none;
}

.release-pet-form button {
  padding: 12px;
  background-color: #1e90ff;
  border: none;
  color: var(--primary-color);
  border-radius: 10px;
}

.release-pet-form button:hover {
  background-color: #075f96;
}

.next-step {
  background-color: #828282;
  max-width: 450px;
  color: #eaebed;
  padding: 30px;
  margin: 20px auto;
  border-radius: 20px;
}
/* ============================================
  Dog Card Styling
============================================ */
.dog-list {
  text-align: center;
  margin: 20px;
}

.dog-list h1 {
  font-family: var(--hader-font);
  font-weight: 700;
  margin-bottom: 20px;
}

.dog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.dog-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: left;
}

.dog-card h2 {
  font-weight: 700;
}

.dog-card span {
  font-weight: bold;
}

.dog-card p {
  color: var(--text-color);
}

.dog-image {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}

.adopt-button {
  background-color: var(--button-color-2);
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.more-info-btn {
  margin-left: 10px;
  background-color: var(--background-color);
  color: white;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.adopt-button:hover {
  background-color: var(--hover-color-2);
}

.more-info-btn:hover {
  background-color: #b46d08;
}

/* ============================================
  Volunteering Styling
============================================ */
.volunteers-title {
  text-align: center;
  margin-top: 25px;
  font-weight: 800;
  font-family: var(--hader-font);
}

.volunteers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  flex-wrap: wrap;
}

.volunteer-card {
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  width: 350px;
}

.volunteer-card:hover {
  transform: translateY(-5px);
}

.volunteer-card p {
  margin-bottom: 10px;
  color: var(--text-color);
}

.volunteer-card span {
  margin-bottom: 10px;
  padding: 5px 10px;    
  border-radius: 20px;       
  background-color: #f0f0f0; 
  color: #666;               
  font-size: 14px;         
}

.volunteer-card .apply-button {
  padding: 10px 15px;
  background-color: var(--button-color-2);
  color: white;
  border: none;
  border-radius: 10px;
}

.volunteer-card .apply-button:hover {
  background-color: var(--hover-color-2);
}

.application-requirements li {
  margin: 10px;
}

/* Volunteer form  styling */
.volunteer-form-header h1 {
  font-family: var(--hader-font);
  font-weight: 700;
  text-align: center;
  margin: 30px;
}

.volunteer-form-body {
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.volunteer-info {
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 20px;
  max-width: 450px;
  border-radius: 20px;
}

.volunteer-info span {
  font-weight: 700;
}

.volunteer-info h2 {
  margin-bottom: 10px;
  font-weight: 700;
}

.volunteer-info p {
  color: var(--text-color);
  margin-bottom: 10px;
}

.volunteer-form{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 20px;
}

.volunteer-form-body input {
  margin-bottom: 10px;
  width: 450px;
  font-size: 1.1em;
  padding: 10px;
}

.volunteer-form-body label {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: var(--text-color);
  font-weight: 600;
}

.volunteer-form-body button {
  background-color: var(--background-color);
  border: none;
  padding: 10px 20px;
  font-size: 1em;
}

.volunteer-form-body button:hover {
  background-color: #e1a249;
}

.not-allowed, .terms {
  margin: 10px;
}

.not-allowed h3, .terms h3{
  margin-bottom: 8px;
  font-weight: 600;
}

.terms li {
  margin-bottom: 8px;
}

.not-allowed li {
  margin-bottom: 8px;
  color: red;
}

.full-button {
  background-color: gray;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: not-allowed;
}
/* ============================================
  Review Styling
============================================ */
/* Review Form */
.reviewPage {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.reviewPage .reviewForm textarea {
  max-width: 730px;
}

.reviewPage .reviewForm button {
  padding: 10px;
  background-color: #EFF6FF;
  color: #0595ef;
  border: none;
}

.reviewPage .reviewForm button:hover{
  color: gray;
}

.reviewForm {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.reviewForm label {
  display: block;
  margin: 10px 0 5px;
}

.reviewForm input,
.reviewForm textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Review */
.writeReview {
  margin: 30px;
  font-size: 1em;
  background-color: #EFF6FF;
  padding: 10px;
  border: none;
  color: #1DA1F2;
  text-decoration: none;
}



.writeReview:hover {
  color: gray;
}

.reviewsList .review {
  background: #e9ecef;
  padding: 18px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.review {
  max-width: 300px;
  min-width: 300px;
}

.review-date {
  color: var(--text-color);
}

.review p{
  margin-bottom: 10px;
}

.reviewsList {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.reviews h1 {
  text-align: center;
  margin: 20px;
}

.reviewsList .review h3 {
  margin: 0 0 5px;
}

.reviewPage-close {
  float: right;
  margin: 10px;
  text-align: center;
  padding: 10px;
  color: #0595ef;
  background-color: #EFF6FF;
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
}

.reviewPage-close:hover{
  color: gray;
}

/* ============================================
  Footer Styling
============================================ */
footer {
  background-color: #BBDEF0;
  padding: 10px;
}

.social-icons {
  color: var(--text-color);
  font-size: 23px;
  text-align: center;
  margin: 10px auto;
  max-width: 450px;
}

.social-icon {
  padding-left: 10px;
}

.line {
  height: 1px;
  width: 50px;
  background-color: var(--text-color);
  border: none;
  margin: 0 auto;
  margin-top: 20px;
}

.copyright {
  text-align: center;
  color: var(--text-color);
}

/* ============================================
  Slide show Styling
============================================ */
.slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: auto;
  padding: 0 10px;
}

.slide-container {
  display: flex;
  gap: 10px;
  overflow: hidden;
  padding: 5px;
}

.slide-card {
  width: 450px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.slide-image {
  width: 400px;
  height: 350px;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 10px;
}

.slide-text {
  font-size: 16px;
  color: #333;
}

.arrow {
  font-size: 50px;
  background: none;
  border: none;
  cursor: pointer;
}

.left-arrow {
  margin-right: 10px;
}

.right-arrow {
  margin-left: 10px;
}

.right-arrow:hover, .left-arrow:hover {
  color: gray;
}


.slide-header {
    font-family: var(--hader-font);
    font-weight: 700;
}

.slide-text {
  margin-bottom: 10px;
  margin-top: 10px;
}

.slide-btn {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

/* ============================================
  Get In Touch Styling
============================================ */
.get-in-touch {
  padding: 20px;
  border-radius: 20px;
  margin: 20px auto;
  text-align: center;
}

.get-in-touch h1 {
  font-family: var(--hader-font);
  font-weight: 700;
}

.get-in-touch-form-container {
  margin: 20px;
}

.get-in-touch-form-container p {
  color: var(--text-color);
  margin-bottom: 20px;
}

.get-in-touch-form input {
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid var(--button-color);
    border-radius: 20px;
    font-size: 14px;
    color: #333;
}

.get-in-touch-btn {
  background: var(--background-color);
  color: white;
  padding: 10px;
  margin-left: 10px;
  border: none;
  font-size: 15px;
  border-radius: 20px;
}

.get-in-touch-btn:hover {
  background: #e6911a;
}
/* ============================================
  Blog Styling
============================================ */
.blog-container h1{
  text-align: center;
  margin: 20px;
  font-weight: 700;
  font-family: var(--hader-font);
  font-size: 2.3em;
  flex-wrap: wrap;
}

.blogs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10;
}

.blog {
  max-width: 400px;
  background-color: #eef3f6;
  padding: 20px;
  border-radius: 20px;
}

.blog img {
  width: 340px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.blog h3 {
  margin-bottom: 20px;
  font-weight: 800;
}

.blog span {
  margin-bottom: 20px;
  color: var(--text-color);
}

.blog p {
  font-weight: bold;
  margin-bottom: 10px;
}

.blog button {
  border: none;
  color: white;
  padding: 10px;
  background-color: var(--button-color-2);
  border-radius: 20px;
}

.blog button:hover {
  background-color: var(--hover-color-2);
}

.blogPost {
  max-width: 700px;
  margin: 30px auto;
}

.blogPost img{
  max-width: 450px;
  margin-bottom: 20px;
}

.blogPost h1 {
  font-weight: 700;
  font-family: var(--hader-font);
  font-size: 2.3em;
}

.blogPost p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.blogPost .close {
  background-color: none;
  font-size: 1.2em;
}

.video-container {
  padding: 20px;
}

iframe {
  max-width: 100%;
  border-radius: 8px;
}
/* ============================================
  Profile Page Styling
============================================ */
.profile-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 450px;
  padding: 20px;
  margin: 30px auto;
  border-radius: 18px;
  text-align: center;
}

.profile-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.profile-container h1 {
  margin-bottom: 10px;
}

.profile-photo {
  font-size: 200px;
}

.logout-btn {
  background-color: var(--background-color);
  padding: 12px;
  border: none;
  color: var(--primary-color);
  border-radius: 18px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.logout-btn:hover {
  background-color: #e6911a;
}

.close {
  float: right;
  border: none;
}

.close:hover {
  color: gray;
}
/* ============================================
  Error Page Styling
============================================ */
.error-container {
  text-align: center;
  margin-top: 50px;
}

.error-container h1 {
  font-family: var(--hader-font);
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
}

.error-container p {
  color: var(--text-color);
  font-size: 1.5em;
  margin-bottom: 20px;
}

.error-container a {
  color: white;
  text-decoration: none;
  border-radius: 20px;
  transition: background-position 0.5s ease;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background: linear-gradient(to right, #1e90ff, #1e90ff);
   background-size: 200% 100%;
}

.error-container a:hover {
  background-position: right bottom;
}

/* ============================================
  Loading Page Styling
============================================ */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--secondary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ============================================
  Animation Styling
============================================ */
@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-in {
  opacity: 0;
  animation: scaleIn 1s ease-out forwards;
}

/* ============================================
  Responsive Styling
============================================ */
@media  (max-width: 768px) {
  .menu {
    display: block;
    color: var(--button-color);
  }

  .navbar {
    display: none;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #f5f5f7;
    padding: 1rem;
  }

  /* Show navbar when open */
  .navbar.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }

  .navbar ul {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .navbar ul li {
    padding: 0.5rem 0;
  }

  .login-btn {
    border: none;
    margin: 0;
  }

  /* ============================================
    About Us Section
  ============================================ */
  .about-container1 section{
    max-width: 450px;
  }

  .story-section, .donation{
    flex-direction: column-reverse;
  }
  .story-section section{
    max-width: 400px;
  }

  .our-team div {
    max-width: 400px;
  }

  .our-team div p {
    font-size: 1em;
  }

  .adoption-form {
    max-width: 450px;
  }

  /* ============================================
    About Us Section
  ============================================ */
  .contact-container{
    max-width: 450px;  
    margin: 0 auto;
  }

  .contact-text {
      text-align: center;
  }

  .contact-form {
    margin: 20px;
    width: 400px;
    padding: 10px;
  }

  .contact-form textarea {
    width: 380px;
  }

  .donation-prices {
    max-width: 400px;
  }
}